
body
{
	font-size:16px;
	color:#000;

}
#header-nav
{
	background-color:gray;
	border-radius:0;
	border:0;
}
.navbar-brand
{
	padding-top:25px;
}
.navbar-brand h1
{
	color:#000;
	font-size:1.5em;
	font-transform:uppercase;
	font-weight:bold;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
}

#call-btn h1{
float:center;
text-align:center;
}

p{

width:25%;
float:left;
display:inline-block;
border:1px solid black ;
padding:40px 30px 10px 30px;
margin:18px;

}

#p1{
	background-color:gray;
	clear:left;
}
#p2{
	background-color:gray;
	clear:left;
	
}
#p3
{
	background-color:gray;
	clear:left;

}
section{
	clear:left;
}
.btn
{
	text-decoration:none;
	border:1px solid black;
	padding:8px 10px 2px 10px;
	position:relative;
    bottom:41px;
    left:31px;
	float:right;
    color:#000;
    background-color:pink;
    width:65px;
    font-size:20px;
    text-align:center;
}
.btn1
{
	text-decoration:none;
	border:1px solid black;
	padding:8px 10px 2px 10px;
	position:relative;
    bottom:41px;
    left:31px;
	float:right;
    color:#000;
    background-color:pink;
    width:65px;
    font-size:20px;
    text-align:center;

}
.btn2
{
	text-decoration:none;
	border:1px solid black;
	padding:8px 10px 2px 10px;
	position:relative;
    bottom:41px;
    left:31px;
	float:right;
    color:#000;
    background-color:pink;
    width:65px;
    font-size:20px;
    text-align:center;
}