
body
{
	font-size:16px;
	color:#000;

}
#header-nav
{
	background-color:gray;
	border-radius:0;
	border:0;
}
.navbar-brand
{
	padding-top:25px;
}
.navbar-brand h1
{
	color:#000;
	font-size:1.5em;
	font-transform:uppercase;
	font-weight:bold;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
}

#call-btn h1{
float:center;
text-align:center;
}

p{

width:25%;
display:inline-block;
border:1px solid black ;
padding:40px 30px 10px 30px;
margin:18px;

}

#p1{
	background-color:gray;
	clear:left;
}
#p2{
	background-color:gray;
	
}
#p3
{
	background-color:gray;

}
section{
	clear:left;
}
.btn
{

text-decoration:none;
position:relative;
float:center;
color:#000;
font-size:20px;
}