
body
{
	font-size:16px;
	color:#000;

}
#header-nav
{
	background-color:gray;
	border-radius:0;
	border:0;
}
.navbar-brand
{
	padding-top:25px;
}
.navbar-brand h1
{
	color:#000;
	font-size:1.5em;
	font-transform:uppercase;
	font-weight:bold;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
}

#call-btn h1{
float:center;
}
